<div class="main-content">
       {{>header}}
        <form >
               <input type="text" placeholder="Loction">
               <button>Search</button>
        </form>

        <p id="location"></p>
        <p id="temp"></p>
</div>

    {{>footer}}

          <script src="js/main.js"></script>