<header>

     <!DOCTYPE html>

   <head>
            <title>{{title}}</title>
          <link rel="stylesheet" href="css/style.css">
          <link rel="icon" href="public/img/download.png">
        
   </head>
   <body>
       <h1>{{title}}</h1>
    <div>
           <a href="/">Weather</a>
           <a href="/help">Help</a>
           <a href="/about">About</a>
           
    </div>


</header>